
.cabecera img{
    width: 250px;
    height: 100px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #FEFFDF;
}
.barra-navegacion{
    font-family: 'Sriracha', cursive;
}
.cuerpo{
    font-family: 'Roboto', sans-serif;
    text-align: right;
}
.formulario{
    width: 300px;
    margin: auto;
    background: #FEFFDF;
    padding: 10px 30px;
    box-sizing: border-box;
    margin-top: 40px;
    border-radius: 7px;
    font-size: 15px;
    text-align: center;
}
.formulario input{
    width: 100%;
    padding: 5px;
    padding-top: 5px
}
.texo-1{
    text-align: center;
    font-size: 14px;
}
.texto-center{
    text-align: center;
}
.sign-up {
    margin-bottom: 5%;
}
.btn-face, .btn-google{
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 40px;
    text-decoration: none;
    padding: 12px;
    font-weight: 600;
    font-size: 15px;
    color: #ffffff;
    border-radius: 6px;
    }
    
    .btn-crear-cuenta {
        margin-left: 30px;
        padding: 12px;
        font-weight: 600;
        font-size: 15px;
        border-radius: 6px;
    }
    .btn-face {
        background-color: rgb(30, 61, 161);
    }
    
    .btn-google {
        background-color: #ffffff;
        color: red;
    }
